<div class="asset-header image" data-type-filter="image">
    <span data-type="image" class="fa fa-image fa-center"> </span>
    <span class='lib-tag'> Images </span>
    <span data-type="image" class="fa fa-plus fa-right"> </span>
</div>

{{#each this.assets}}
    {{#ifvalue this.__Type value='image'}}
        <div class="asset-file-name clearfix" data-type="image">
            <span data-type="image" class="fa fa-image fa-center-nested"> </span>
            <div class="file-link">{{#format_name this.name}}{{/format_name}}</div>
            <span data-link="{{this.name}}" data-url="{{this.url}}" data-index="{{@index}}"
                  class="fa fa-remove fa-right-small"> </span>
        </div>
    {{/ifvalue}}
{{/each}}


<div class="asset-header video" data-type-filter="video">
    <span data-type="video" class="fa fa-video-camera fa-center"> </span>
    <span class='lib-tag'> Videos </span>
    <span data-type="video" class="fa fa-plus fa-right"> </span>
</div>

{{#each this.assets}}
    {{#ifvalue this.__Type value='video'}}
        <div class="asset-file-name clearfix" data-type="video">
            <span data-type="video" class="fa fa-video-camera fa-center-nested"> </span>
            <div class="file-link">{{#format_name this.name}}{{/format_name}}</div>
            <span data-link="{{this.name}}" data-url="{{this.url}}" data-index="{{@index}}"
                  class="fa fa-remove fa-right-small"> </span>
        </div>
    {{/ifvalue}}
{{/each}}

{{#if this.isWidget }}
{{else}}
    <div class="asset-header widget" data-type-filter="widget">
        <span data-type="widget" class="fa fa-cogs fa-center"> </span>
        <span class='lib-tag'> Widgets </span>
    </div>

    {{#each this.assets}}
        {{#ifvalue this.__Type value='widget'}}
            <div class="asset-file-name clearfix" data-type="widget">
                <span data-type="widget" class="fa fa-cogs fa-center-nested"> </span>
                <div class="file-link">{{#format_name this.name}}{{/format_name}}</div>
                <!-- delete btn -->
                {{#is_component this}}{{/is_component}}
                <!-- -->
                <!-- convert to component btn -->
                {{#is_widget this}}{{/is_widget}}
                <!-- -->
                <span class="fa fa-pencil fa-right-small edit-widget" data-url="{{this.url}}"
                      data-link="{{this.name}}"></span>
            </div>
        {{/ifvalue}}
    {{/each}}
{{/if}}

{{#if this.isWidget }}
{{else}}
    <div class="asset-header style" data-type-filter="style">
        <span data-type="style" class="fa fa-css3 fa-center"> </span>
        <span class='lib-tag'> Style </span>
        <span data-type="style" class="fa fa-plus fa-right"> </span>
    </div>

    {{#each this.assets}}
        {{#ifvalue this.__Type value='style'}}
            <div class="script-or-style clearfix" data-type="style">
                <span data-type="style" class="fa fa-css3 fa-center-nested"> </span>
                {{#is_in_scene this.url this.__Type}}
                    <span data-type="radio-span" class="fa fa-dot-circle-o fa-left-nested"> </span>
                {{else}}
                    <span data-type="radio-span" class="fa fa-circle-o fa-left-nested"> </span>
                {{/is_in_scene}}
                <div class="file-link">{{#format_name this.name}}{{/format_name}}</div>
                <span data-link="{{this.name}}" data-url="{{this.url}}" data-index="{{@index}}"
                      class="fa fa-remove fa-right-small"> </span>
            </div>
        {{/ifvalue}}
    {{/each}}
{{/if}}

{{#if this.isWidget }}
{{else}}
    <div class="asset-header script" data-type-filter="script">
        <span data-type="script" class="fa fa-code fa-center"> </span>
        <span class='lib-tag'> Script </span>
        <span data-type="script" class="fa fa-plus fa-right"> </span>
    </div>

    {{#each this.assets}}
        {{#ifvalue this.__Type value='script'}}
            <div class="script-or-style clearfix" data-type="script">
                <span data-type="script" class="fa fa-code fa-center-nested"> </span>
                {{#is_in_scene this.url this.__Type}}
                    <span data-type="radio-span" class="fa fa-dot-circle-o fa-left-nested"> </span>
                {{else}}
                    <span data-type="radio-span" class="fa fa-circle-o fa-left-nested"> </span>
                {{/is_in_scene}}
                <div class="file-link">{{#format_name this.name}}{{/format_name}}</div>
                <span data-link="{{this.name}}" data-url="{{this.url}}" data-index="{{@index}}"
                      class="fa fa-remove fa-right-small"> </span>
            </div>
        {{/ifvalue}}
    {{/each}}
{{/if}}

{{#if this.isWidget }}
{{else}}
    <div class="asset-header font last" data-type-filter="font">
        <span data-type="font" class="fa fa-font fa-center"> </span>
        <span class='lib-tag'> Fonts </span>
        <span data-type="font" class="fa fa-plus fa-right"> </span>
    </div>

    {{#each this.assets}}
        {{#ifvalue this.__Type value='font'}}
            <div class="script-or-style clearfix" data-type="font">
                <span data-type="font" class="fa fa-font fa-center-nested"> </span>
                {{#font-enabled this.url this.__Type}}
                    <span data-type="radio-span" class="fa fa-dot-circle-o fa-left-nested"> </span>
                {{else}}
                    <span data-type="radio-span" class="fa fa-circle-o fa-left-nested"> </span>
                {{/font-enabled}}
                <div class="file-link">{{#format_name this.name}}{{/format_name}}</div>
                <span data-link="{{this.name}}" data-url="{{this.url}}" data-index="{{@index}}"
                      class="fa fa-remove fa-right-small"> </span>
            </div>
        {{/ifvalue}}
    {{/each}}
{{/if}}
