
{{#hideHummingbird env}}
    <div class="wrap-property border-style clearfix">
        <label>Style: </label>

        <select data-property-set="styles" data-property-key="borderStyle" class="k-select">
            {{#select widget.styles.borderStyle}}
            <option value="none">none</option>
            <option value="hidden">hidden</option>
            <option value="dotted">dotted</option>
            <option value="dashed">dashed</option>
            <option value="solid">solid</option>
            <option value="double">double</option>
            <option value="groove">groove</option>
            <option value="ridge">ridge</option>
            <option value="inset">inset</option>
            <option value="outset">outset</option>
            {{/select}}
        </select>
    </div>
{{/hideHummingbird}}

{{#if widget.styles.borderColor}}
<div class="wrap-property border-color clearfix">
    <label>Color:
    <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="borderColor"></div>
   </label>
   <input class="color-picker" id="borderColor-picker" />
</div>
{{/if}}

{{#if widget.styles.borderWidth}}
<div class="wrap-property border-width clearfix">
    <label>Width:
       <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="borderWidth"></div>
   </label>
   <select name="" class="units-string" data-property-set="units" data-property-key="borderWidth">
    {{#select_units widget.styles.borderWidth}}
    <option value="vw">vw</option>
    <option value="vh">vh</option>
    <option value="vmax">vmax</option>
    <option value="vmin">vmin</option>
    <option value="px">px</option>
    <option value="pt">pt</option>
    <option value="rem">rem</option>
    {{/select_units}}
</select>
{{#ifvalue widget.styles.borderWidth value="auto"}}
<input property type="number" step="{{#format_value widget.styles.borderWidth}}{{/format_value}}" value="{{#number_only widget.styles.borderWidth}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderWidth" disabled />
{{else}}
<input property type="number" step="{{#format_value widget.styles.borderWidth}}{{/format_value}}" value="{{#number_only widget.styles.borderWidth}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderWidth" />
{{/ifvalue}}
</div>
{{/if}}

{{#if widget.styles.borderTopLeftRadius}}
<div class="wrap-property clearfix">
    <label>Top left:
       <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="borderTopLeftRadius"></div>
   </label>
   <select name="" class="units-string" data-property-set="units" data-property-key="borderTopLeftRadius">
    {{#select_units widget.styles.borderTopLeftRadius}}
    <option value="vw">vw</option>
    <option value="vh">vh</option>
    <option value="vmax">vmax</option>
    <option value="vmin">vmin</option>
    <option value="px">px</option>
    <option value="pt">pt</option>
    <option value="rem">rem</option>
    {{/select_units}}
</select>
{{#ifvalue widget.styles.borderTopLeftRadius value="auto"}}
<input property type="number" step="{{#format_value widget.styles.borderTopLeftRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderTopLeftRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderTopLeftRadius" disabled />
{{else}}
<input property type="number" step="{{#format_value widget.styles.borderTopLeftRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderTopLeftRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderTopLeftRadius" />
{{/ifvalue}}
</div>
{{/if}}

{{#if widget.styles.borderTopRightRadius}}
<div class="wrap-property clearfix">
    <label>Top right:
        <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="borderTopRightRadius"></div>
    </label>
    <select name="" class="units-string" data-property-set="units" data-property-key="borderTopRightRadius">
        {{#select_units widget.styles.borderTopRightRadius}}
        <option value="vw">vw</option>
        <option value="vh">vh</option>
        <option value="vmax">vmax</option>
        <option value="vmin">vmin</option>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="rem">rem</option>
        {{/select_units}}
    </select>
    {{#ifvalue widget.styles.borderTopRightRadius value="auto"}}
    <input property type="number" step="{{#format_value widget.styles.borderTopRightRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderTopRightRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderTopRightRadius" disabled />
    {{else}}
    <input property type="number" step="{{#format_value widget.styles.borderTopRightRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderTopRightRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderTopRightRadius" />
    {{/ifvalue}}
</div>
{{/if}}

{{#if widget.styles.borderBottomLeftRadius}}
<div class="wrap-property clearfix">
    <label>Bottom left:
        <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="borderBottomLeftRadius"></div>
    </label>
    <select name="" class="units-string" data-property-set="units" data-property-key="borderBottomLeftRadius">
        {{#select_units widget.styles.borderBottomLeftRadius}}
        <option value="vw">vw</option>
        <option value="vh">vh</option>
        <option value="vmax">vmax</option>
        <option value="vmin">vmin</option>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="rem">rem</option>
        {{/select_units}}
    </select>
    {{#ifvalue widget.styles.borderBottomLeftRadius value="auto"}}
    <input property type="number" step="{{#format_value widget.styles.borderBottomLeftRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderBottomLeftRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderBottomLeftRadius" disabled />
    {{else}}
    <input property type="number" step="{{#format_value widget.styles.borderBottomLeftRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderBottomLeftRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderBottomLeftRadius" />
    {{/ifvalue}}
</div>
{{/if}}

{{#if widget.styles.borderBottomRightRadius}}
<div class="wrap-property clearfix">
    <label>Bottom right:
        <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="borderBottomRightRadius"></div>
    </label>
    <select name="" class="units-string" data-property-set="units" data-property-key="borderBottomRightRadius">
        {{#select_units widget.styles.borderBottomRightRadius}}
        <option value="vw">vw</option>
        <option value="vh">vh</option>
        <option value="vmax">vmax</option>
        <option value="vmin">vmin</option>
        <option value="px">px</option>
        <option value="pt">pt</option>
        <option value="rem">rem</option>
        {{/select_units}}
    </select>
    {{#ifvalue widget.styles.borderBottomRightRadius value="auto"}}
    <input property type="number" step="{{#format_value widget.styles.borderBottomRightRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderBottomRightRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderBottomRightRadius" disabled />
    {{else}}
    <input property type="number" step="{{#format_value widget.styles.borderBottomRightRadius}}{{/format_value}}" value="{{#number_only widget.styles.borderBottomRightRadius}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="borderBottomRightRadius" />
    {{/ifvalue}}
</div>
{{/if}}

