<!-- {{@key}} -->
{{#each eventTypes}}
<div class="events-wrap {{@key}}">
    <div class="wrap-property clearfix">
        <label>{{@key}}: </label>
        <select data-property-set="events" data-property-key="{{@key}}">
            <option value="remove event"></option>
            {{#each ../allEvents}}
                {{option @key @key @../this}}
            {{/each}}
            <option class="engine-trigger-option"
            value="engineTriggerArguments"
            {{#with @this}}{{#if engineTriggerArguments }} selected {{/if}}{{/with}}>
                Engine Trigger
            </option>
            <option class="engine-call-option" value="engineCallArguments"
            {{#with @this}}{{#if engineCallArguments }} selected {{/if}}{{/with}}>
                Engine Call
            </option>
            <option  value="blueprintFunction"
           {{#with @this}}{{#if blueprintFunction}} selected {{/if}}{{/with}}>
                Blueprint
            </option>
            <option  value="javascriptFunction"
            {{#with @this}}{{#if javascriptFunction}} selected {{/if}}{{/with}}>
                JavaScript
            </option>
        </select>
    </div>

    <section class="blueprint-events"
        {{#with @this}}{{#if blueprintFunction}} style="display: block" {{/if}}{{/with}}>
        <div class="wrap-property clearfix">
          <label>
              name:
          </label>
          <input property type="text"
          value="{{#with @this}}{{blueprintFunction}}{{/with}}" class="set-blueprint-function" data-property-set="events" data-event-type="blueprintFunction" data-property-key="{{@key}}" placeholder="type a name..." />
      </div>
    </section>

    <section class="javascript-events"
        {{#with @this}}{{#if javascriptFunction}} style="display: block" {{/if}}{{/with}}>
        <div class="wrap-property clearfix">
            <button class="add-js-code k-button" data-property-set="events" data-event-type="javascriptFunction" data-property-key="{{@key}}">Edit JavaScript</button>
      </div>
    </section>

    <section class="enginetrigger-events"
        {{#with @this}}{{#if engineTriggerArguments}} style="display: block"
        {{/if}}{{/with}}>
        <form class="form-engine-trigger" onsubmit="return false">
            <div class="engine-trigger-params">
                <div class="clearfix param-wrap">
                    <label>name: </label>
                    <input property type="text"
                    value="{{#with @this}}{{engineTriggerArguments.[0]}}{{/with}}"
                    name="0" class="set-engineTrigger-fn" data-property-set="events" data-property-key="{{@key}}" data-event-type="engineTriggerArguments" placeholder="type a name..." />
                </div>
                {{#with @this}}
                    {{#each engineTriggerArguments}}
                        <div class="clearfix param-wrap">
                            {{#ifvalueNot @index value=0}}
                            <label>
                                <span type="button" class="icon-remove left remove-engine-event-param" data-engine-fn="engineTriggerArguments" data-param-index="{{@index}}">
                                </span>
                            </label>

                            <input property type="text" value="{{this}}" name="{{@index}}" class="set-engineTrigger-fn" data-property-set="events" data-property-key="{{@../key}}" data-event-type="engineTriggerArguments" placeholder="type a param..." />
                            {{/ifvalueNot}}
                        </div>
                    {{/each}}
                {{/with}}
            </div>
        </form>
        <label>
            <span type="button" class="icon-add add-engine-event-param"
            data-engine-fn="engineTriggerArguments">

            </span>
        </label>
    </section>

    <section class="enginecall-events"
        {{#with @this}}{{#if engineCallArguments}} style="display: block" {{/if}}{{/with}}>
        <form class="form-engine-call" onsubmit="return false">
            <div class="engine-call-params">
                <div class="clearfix param-wrap">
                    <label>name: </label>
                    <input property type="text" value="{{#with @this}}{{engineCallArguments.[0]}}{{/with}}" name="0" class="set-engineCall-fn" data-property-set="events" data-property-key="{{@key}}" data-event-type="engineCallArguments" placeholder="type a name..." />
                </div>
                {{#with @this}}
                    {{#each engineCallArguments}}
                        <div class="clearfix param-wrap">
                            {{#ifvalueNot @index value=0}}
                            <label>
                                <span type="button" class="icon-remove left remove-engine-event-param" data-engine-fn="engineCallArguments" data-param-index="{{@index}}">
                                </span>
                            </label>

                            <input property type="text" value="{{this}}" name="{{@index}}" class="set-engineCall-fn" data-property-set="events" data-property-key="{{@../key}}" data-event-type="engineCallArguments" placeholder="type a param..." />
                            {{/ifvalueNot}}
                        </div>
                    {{/each}}
                {{/with}}
            </div>
        </form>
        <label>
            <span type="button" class="icon-add add-engine-event-param"
            data-engine-fn="engineCallArguments">

            </span>
        </label>
    </section>

</div>
{{/each}}
