<label class="transform-label">
    Transform
</label>
<div class="text-line"></div>
<!--
{{#hideHummingbird env}}
    <div class="wrap-property rotate-x clearfix">
        <label>
            rotateX:
            <div type="button" class="add-keyframe" data-property-key="rotateX" data-property-set="transform">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="rotateX"> </span>
        <select name="" class="units-string" data-property-set="units" data-property-key="rotateX">
            {{#select_units widget.transform.rotateX}}
                <option value="deg">deg</option>
            {{/select_units}}
        </select>
        {{#if widget.transform.rotateX}}
            <input property type="number" step="{{#format_value widget.transform.rotateX}}{{/format_value}}"
                   value="{{#rad_to_deg widget.transform.rotateX}}{{/rad_to_deg}}" class="units-number"
                   data-property-set="transform" data-property-key="rotateX"/>
        {{else}}
            <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
                   data-property-key="rotateX"/>
        {{/if}}
    </div>
{{/hideHummingbird}}

    {{#hideHummingbird env}}
    <div class="wrap-property rotate-y clearfix">
        <label>
            rotateY:
            <div type="button" class="add-keyframe" data-property-key="rotateY" data-property-set="transform">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="rotateY"> </span>
        <select name="" class="units-string" data-property-set="units" data-property-key="rotateY">
            {{#select_units widget.transform.rotateY}}
                <option value="deg">deg</option>
            {{/select_units}}
        </select>
        {{#if widget.transform.rotateY}}
            <input property type="number" step="{{#format_value widget.transform.rotateY}}{{/format_value}}"
                   value="{{#rad_to_deg widget.transform.rotateY}}{{/rad_to_deg}}" class="units-number"
                   data-property-set="transform" data-property-key="rotateY"/>
        {{else}}
            <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
                   data-property-key="rotateY"/>
        {{/if}}
    </div>
{{/hideHummingbird}}
-->
<div class="wrap-property rotate-z clearfix">
    <label>
        rotateZ:
        <div type="button" class="add-keyframe" data-property-key="rotateZ" data-property-set="transform">

        </div>
    </label>
    <span class="fa fa-times-circle remove-property" data-type="rotateZ"> </span>
    <select name="" class="units-string" data-property-set="units" data-property-key="rotateZ">
        {{#select_units widget.transform.rotateZ}}
            <option value="deg">deg</option>
        {{/select_units}}
    </select>
    {{#if widget.transform.rotateZ}}
        <input property type="number" step="{{#format_value widget.transform.rotateZ}}{{/format_value}}"
               value="{{#rad_to_deg widget.transform.rotateZ}}{{/rad_to_deg}}" class="units-number"
               data-property-set="transform" data-property-key="rotateZ"/>
    {{else}}
        <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
               data-property-key="rotateZ"/>
    {{/if}}
</div>

<div class="wrap-property translate-x clearfix">
    <label>
        translateX:
        <div type="button" class="add-keyframe" data-property-key="translateX" data-property-set="transform">

        </div>
    </label>
    <span class="fa fa-times-circle remove-property" data-type="translateX"> </span>
    <select name="" class="units-string" data-property-set="units" data-property-key="translateX">
        {{#select_units widget.transform.translateX}}
            <option value="px">px</option>
        {{/select_units}}
    </select>
    {{#if widget.transform.translateX}}
        <input property type="number" step="{{#format_value widget.transform.translateX}}{{/format_value}}"
               value="{{#number_only widget.transform.translateX}}{{/number_only}}" class="units-number"
               data-property-set="transform" data-property-key="translateX"/>
    {{else}}
        <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
               data-property-key="translateX"/>
    {{/if}}
</div>

<div class="wrap-property translate-y clearfix">
    <label>
        translateY:
        <div type="button" class="add-keyframe" data-property-key="translateY" data-property-set="transform">

        </div>
    </label>
    <span class="fa fa-times-circle remove-property" data-type="translateY"> </span>
    <select name="" class="units-string" data-property-set="units" data-property-key="translateY">
        {{#select_units widget.transform.translateY}}
            <option value="px">px</option>
        {{/select_units}}
    </select>
    {{#if widget.transform.translateY}}
        <input property type="number" step="{{#format_value widget.transform.translateY}}{{/format_value}}"
               value="{{#number_only widget.transform.translateY}}{{/number_only}}" class="units-number"
               data-property-set="transform" data-property-key="translateY"/>
    {{else}}
        <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
               data-property-key="translateY"/>
    {{/if}}
</div>

{{#hideHummingbird env}}
    <div class="wrap-property translate-z clearfix">
        <label>
            translateZ:
            <div type="button" class="add-keyframe" data-property-key="translateZ" data-property-set="transform">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="translateZ"> </span>
        <select name="" class="units-string" data-property-set="units" data-property-key="translateZ">
            {{#select_units widget.transform.translateZ}}
                <option value="px">px</option>
            {{/select_units}}
        </select>
        {{#if widget.transform.translateZ}}
            <input property type="number" step="{{#format_value widget.transform.translateZ}}{{/format_value}}"
                   value="{{#number_only widget.transform.translateZ}}{{/number_only}}" class="units-number"
                   data-property-set="transform" data-property-key="translateZ"/>
        {{else}}
            <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
                   data-property-key="translateZ"/>
        {{/if}}
    </div>
{{/hideHummingbird}}

<div class="wrap-property scale-x clearfix">
    <label>
        scaleX:
        <div type="button" class="add-keyframe" data-property-key="scaleX" data-property-set="transform">

        </div>
    </label>
    <span class="fa fa-times-circle remove-property" data-type="scaleX"> </span>
    {{#if widget.transform.scaleX}}
        <input property type="number" step="0.1" min="0" maxlength="1" value="{{ widget.transform.scaleX }}"
               data-property-set="transform" data-property-key="scaleX"/>
    {{else}}
        <input property type="number" step="0.1" min="0" maxlength="1" value="1.0" data-property-set="transform"
               data-property-key="scaleX"/>
    {{/if}}
</div>

<div class="wrap-property scale-y clearfix">
    <label>
        scaleY:
        <div type="button" class="add-keyframe" data-property-key="scaleY" data-property-set="transform">

        </div>
    </label>
    <span class="fa fa-times-circle remove-property" data-type="scaleY"> </span>
    {{#if widget.transform.scaleY}}
        <input property type="number" step="0.1" min="0" maxlength="1" value="{{ widget.transform.scaleY }}"
               data-property-set="transform" data-property-key="scaleY"/>
    {{else}}
        <input property type="number" step="0.1" min="0" maxlength="1" value="1.0" data-property-set="transform"
               data-property-key="scaleY"/>
    {{/if}}
</div>

{{#hideHummingbird env}}
    <div class="wrap-property scale-z clearfix">
        <label>
            scaleZ:
            <div type="button" class="add-keyframe" data-property-key="scaleZ" data-property-set="transform">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="scaleZ"> </span>
        {{#if widget.transform.scaleZ}}
            <input property type="number" step="0.1" min="0" maxlength="1" value="{{ widget.transform.scaleZ }}"
                   data-property-set="transform" data-property-key="scaleZ"/>
        {{else}}
            <input property type="number" step="0.1" min="0" maxlength="1" value="1.0" data-property-set="transform"
                   data-property-key="scaleZ"/>
        {{/if}}
    </div>
{{/hideHummingbird}}

{{#hideHummingbird env}}
    <div class="wrap-property skew-x clearfix">
        <label>
            skewX:
            <div type="button" class="add-keyframe" data-property-key="skewX" data-property-set="transform">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="skewX"> </span>
        <select name="" class="units-string" data-property-set="units" data-property-key="skewX">
            {{#select_units widget.transform.skewX}}
                <option value="deg">deg</option>
            {{/select_units}}
        </select>
        {{#if widget.transform.skewX}}
            <input property type="number" step="{{#format_value widget.transform.skewX}}{{/format_value}}"
                   value="{{#rad_to_deg widget.transform.skewX}}{{/rad_to_deg}}" class="units-number"
                   data-property-set="transform" data-property-key="skewX"/>
        {{else}}
            <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
                   data-property-key="skewX"/>
        {{/if}}
    </div>
{{/hideHummingbird}}

{{#hideHummingbird env}}
    <div class="wrap-property skew-y clearfix">
        <label>
            skewY:
            <div type="button" class="add-keyframe" data-property-key="skewY" data-property-set="transform">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="skewY"> </span>
        <select name="" class="units-string" data-property-set="units" data-property-key="skewY">
            {{#select_units widget.transform.skewY}}
                <option value="deg">deg</option>
            {{/select_units}}
        </select>
        {{#if widget.transform.skewY}}
            <input property type="number" step="{{#format_value widget.transform.skewY}}{{/format_value}}"
                   value="{{#rad_to_deg widget.transform.skewY}}{{/rad_to_deg}}" class="units-number"
                   data-property-set="transform" data-property-key="skewY"/>
        {{else}}
            <input property type="number" step="1" value="0" class="units-number" data-property-set="transform"
                   data-property-key="skewY"/>
        {{/if}}
    </div>
{{/hideHummingbird}}

<span class="dismiss-transform">reset all</span>

{{#hideHummingbird env}}
    <label class="transform-label">
        Transform Origin
    </label>
    <div class="text-line"></div>
    <div class="wrap-property transform-origin-x clearfix">
        <label>
            originX:
            <div type="button" class="add-keyframe" data-property-key="transform-origin"
                 data-property-set="transform-origin">

            </div>
        </label>
        {{#if widget.transform-origin.transform-origin-x}}
            <select name="" class="units-string" data-property-set="units" data-property-key="transform-origin-x">
                {{#select_units widget.transform-origin.transform-origin-x}}
                    <option value="px">px</option>
                    <option value="%">%</option>
                {{/select_units}}
            </select>
            <input property type="number" step="{{#format_value widget.transform-origin.transform-origin-x}}{{/format_value}}"
                   value="{{#number_only widget.transform-origin.transform-origin-x}}{{/number_only}}"
                   class="units-number"
                   data-property-set="transform-origin" data-property-key="transform-origin-x"/>
        {{else}}
            <select name="" class="units-string" data-property-set="units" data-property-key="transform-origin-x">
                {{#select_units widget.transform-origin.transform-origin-x}}
                    <option value="px">px</option>
                    <option value="%" selected="selected">%</option>
                {{/select_units}}
            </select>
            <input property type="number" step="1" value="50" class="units-number" data-property-set="transform-origin"
                   data-property-key="transform-origin-x"/>
        {{/if}}
    </div>

    <div class="wrap-property transform-origin-y clearfix">
        <label>
            originY:
        </label>
        {{#if widget.transform-origin.transform-origin-y}}
            <select name="" class="units-string" data-property-set="units" data-property-key="transform-origin-y">
                {{#select_units widget.transform-origin.transform-origin-y}}
                    <option value="px">px</option>
                    <option value="%">%</option>
                {{/select_units}}
            </select>
            <input property type="number" step="{{#format_value widget.transform-origin.transform-origin-y}}{{/format_value}}"
                   value="{{#number_only widget.transform-origin.transform-origin-y}}{{/number_only}}"
                   class="units-number"
                   data-property-set="transform-origin" data-property-key="transform-origin-y"/>
        {{else}}
            <select name="" class="units-string" data-property-set="units" data-property-key="transform-origin-y">
                {{#select_units widget.transform-origin.transform-origin-y}}
                    <option value="px">px</option>
                    <option value="%" selected="selected">%</option>
                {{/select_units}}
            </select>
            <input property type="number" step="1" value="50" class="units-number" data-property-set="transform-origin"
                   data-property-key="transform-origin-y"/>
        {{/if}}
    </div>

    <span class="dismiss-transform-origin">reset</span>
{{/hideHummingbird}}
<!--
{{#hideHummingbird env}}
    <label class="transform-label">
        Perspective Origin
    </label>
    <div class="text-line"></div>
    <div class="wrap-property perspective-origin-x clearfix">
        <label>
            originX:
            <div type="button" class="add-keyframe" data-property-key="perspective-origin"
                 data-property-set="perspective-origin">

            </div>
        </label>
        {{#if widget.styles.perspective-origin-x}}
            <select name="" class="units-string" data-property-set="units" data-property-key="perspective-origin-x">
                {{#select_units widget.perspective-origin.perspective-origin-x}}
                    <option value="vw">vw</option>
                    <option value="vh">vh</option>
                    <option value="px">px</option>
                    <option value="pt">pt</option>
                    <option value="rem">rem</option>
                    <option value="%">%</option>
                {{/select_units}}
            </select>
            <input property type="number" class="units-number"
                   value="{{widget.perspective-origin.perspective-origin-x}}"
                   data-property-set="perspective-origin" data-property-key="perspective-origin-x"/>
        {{else}}
            <select name="" class="units-string" data-property-set="units" data-property-key="perspective-origin-x">
                {{#select_units widget.perspective-origin.perspective-origin-x}}
                    <option value="vw">vw</option>
                    <option value="vh">vh</option>
                    <option value="px">px</option>
                    <option value="pt">pt</option>
                    <option value="rem">rem</option>
                    <option value="%" selected>%</option>
                {{/select_units}}
            </select>
            <input property type="number" class="units-number" step="1" value="50" data-property-set="perspective-origin"
                   data-property-key="perspective-origin-x"/>
        {{/if}}
    </div>

    <div class="wrap-property perspective-origin-y clearfix">
        <label>
            originY:
        </label>
        {{#if widget.perspective-origin.perspective-origin-y}}
            <select name="" class="units-string" data-property-set="units" data-property-key="perspective-origin-y>
                {{#select_units widget.perspective-origin.perspective-origin-y}}
                    <option value="vw">vw</option>
                    <option value="vh">vh</option>
                    <option value="px">px</option>
                    <option value="pt">pt</option>
                    <option value="rem">rem</option>
                    <option value="%">%</option>
                {{/select_units}}
            </select>
            <input property type="number" class="units-number"
                   value="{{widget.styles.perspective-origin-y}}"
                   data-property-set="perspective-origin" data-property-key="perspective-origin-y"/>
        {{else}}
            <select name="" class="units-string" data-property-set="units" data-property-key="perspective-origin-y">
                {{#select_units widget.perspective-origin.perspective-origin-y}}
                    <option value="vw">vw</option>
                    <option value="vh">vh</option>
                    <option value="px">px</option>
                    <option value="pt">pt</option>
                    <option value="rem">rem</option>
                    <option value="%" selected>%</option>
                {{/select_units}}
            </select>
            <input property type="number" class="units-number" step="1" value="50" data-property-set="perspective-origin"
                   data-property-key="perspective-origin-y"/>
        {{/if}}
    </div>

    <span class="dismiss-perspective-origin">reset</span>
{{/hideHummingbird}}
    {{#hideHummingbird env}}
    <div class="wrap-property perspective clearfix">
        <label>
            perspective:
            <div type="button" class="add-keyframe" data-property-key="perspective" data-property-set="styles">

            </div>
        </label>
        <span class="fa fa-times-circle remove-property" data-type="perspective"> </span>
        <select name="" class="units-string" data-property-set="units" data-property-key="perspective">
            {{#select_units widget.styles.perspective}}
                <option value="px">px</option>
            {{/select_units}}
        </select>
        {{#if widget.styles.perspective}}
            <input property type="number" step="{{#format_value widget.styles.perspective}}{{/format_value}}"
                   value="{{#number_only widget.styles.perspective}}{{/number_only}}" class="units-number"
                   data-property-set="styles" data-property-key="perspective"/>
        {{else}}
            <input property type="number" step="1" value="0" class="units-number" data-property-set="styles"
                   data-property-key="perspective"/>
        {{/if}}

    </div>
    <div class="wrap-property clearfix">
        <label>Transform-style
        </label>
        <select name="" class="transform-style" data-property-set="styles" data-property-key="transformStyle">
            {{#select widget.styles.transformStyle}}
                <option value="flat">flat</option>
                <option value="preserve-3d">preserve-3d</option>
                <option value="initial">initial</option>
                <option value="inherit">inherit</option>
            {{/select}}
        </select>
    </div>
{{/hideHummingbird}}
-->
