<span data-element-id="{{ widget.id }}" id="selected-element"></span>
<ul id="properties-wrap">
    <li class="k-state-active k-header-wrap">
        <span class="k-link k-state-selected k-header-wrap">
            <span class="ic-properties"></span>
            Properties
        </span>
        <ul id="properties">
            <li class="k-state-active" id="basic-properties">
                <span class="k-link k-state-selected">
                    Basic
                </span>
                <div class="basic-panel">
                    <div class="wrap-property clearfix">
                        <label>ID</label>
                        <input property property type="text" value="{{ widget.id }}" data-property-set="element-id" data-property-key="id" />
                    </div>
                    <div class="wrap-property clearfix">
                        <label>Class</label>
                        <input property type="text" value="{{widget.className}}" data-property-set="element-class" data-property-key="className" />
                    </div>

                    {{#if widget.styles.padding}}
                    <div class="wrap-property clearfix">
                        <label>Padding</label>
                        <select name="" class="units-string" data-property-set="units" data-property-key="padding">
                            {{#select_units widget.styles.padding}}
                            <option value="auto">auto</option>
                            <option value="vw">vw</option>
                            <option value="vh">vh</option>
                            <option value="vmax">vmax</option>
                            <option value="vmin">vmin</option>
                            <option value="px">px</option>
                            <option value="pt">pt</option>
                            <option value="rem">rem</option>
                            {{/select_units}}
                        </select>

                        {{#if widget.styles.padding}}
                        {{#ifvalue widget.styles.padding value="auto"}}
                        <input property type="number" step="{{#format_value widget.styles.padding}}{{/format_value}}" value="{{#number_only widget.styles.padding}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="padding" disabled />
                        {{else}}
                        <input property type="number" step="{{#format_value widget.styles.padding}}{{/format_value}}" value="{{#number_only widget.styles.padding}}{{/number_only}}"  class="units-number" data-property-set="styles" data-property-key="padding" />
                        {{/ifvalue}}
                        {{else}}
                        <input property type="number" step="0.1" value=""  class="units-number" data-property-set="styles" data-property-key="padding" disabled />
                        {{/if}}
                    </div>
                    {{/if}}

                    {{#if widget.styles.display}}
                    <div class="wrap-property clearfix display-property">
                        <label>Display</label>
                        <select data-property-set="styles" data-property-key="display" class="k-select">
                            {{#select widget.styles.display}}
                            <option value="inherit">inherit</option>
                            <option value="none">none</option>
                            <option value="block">block</option>
                                {{#ifvalue env value='GT'}}
                            <option value="inline-block">inline-block</option>
                                {{/ifvalue}}
                            {{#ifvalue widget.type value='flexbox'}}
                            <option value="flex">flex</option>
                            {{/ifvalue}}
                            {{/select}}
                        </select>
                    </div>
                    {{/if}}

                    <div class="wrap-property clearfix">
                        <label>Z-Index
                         <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="zIndex"></div>
                     </label>
                     <input property type="number" max="999999" min="-999999" maxlength="6" step="any" value="{{ widget.styles.zIndex }}" data-property-set="styles" data-property-key="zIndex" />
                 </div>

                 <div class="wrap-property clearfix">
                    <label>Opacity
                     <div type="button" class="add-keyframe" data-property-set="styles" data-property-key="opacity"></div>
                 </label>
                 <input property type="number" max="1" min="0" step="0.1" value="{{ widget.styles.opacity }}" data-property-set="styles" data-property-key="opacity" />
             </div>

             <div class="wrap-property clearfix">
                <label>Overflow</label>
                <select data-property-set="styles" data-property-key="overflow" class="k-select">
                    {{#select widget.styles.overflow}}
                    <option value="inherit">inherit</option>
                    <option value="visible">visible</option>
                    <option value="hidden">hidden</option>
                    <option value="scroll">scroll</option>
                    <option value="auto">auto</option>
                    <option value="initial">initial</option>
                    {{/select}}
                </select>
            </div>

            {{#ifvalue widget.multiple value=true}}
            <div class="wrap-property clearfix">
                <label>Multiple</label> <input property type="checkbox" checked="checked" data-property-set="checked" data-property-key="multiple" />
            </div>
            {{/ifvalue}}
            {{#ifvalue widget.multiple value=false}}
            <div class="wrap-property clearfix">
                <label>Multiple</label> <input property type="checkbox" data-property-set="checked" data-property-key="multiple" />
            </div>
            {{/ifvalue}}

            {{#if widget.-coherent-layer-clip-aa}}
            <div class="wrap-property clearfix">
                <label>Clip AA</label>
                <input property type="checkbox" {{#ifvalue widget.-coherent-layer-clip-aa value='on'}} checked="checked" {{/ifvalue}} data-property-set="checked" data-property-key="-coherent-layer-clip-aa" />
            </div>
            {{/if}}

            {{#ifvalue widget.checked value=true}}
            <div class="wrap-property clearfix">
                <label>Checked</label> <input property type="checkbox" checked="checked" data-property-set="checked" data-property-key="checked" />
            </div>
            {{/ifvalue}}
            {{#ifvalue widget.checked value=false}}
            <div class="wrap-property clearfix">
                <label>Checked</label> <input property type="checkbox" data-property-set="checked" data-property-key="checked" />
            </div>
            {{/ifvalue}}

            {{#ifvalue widget.selected value=true}}
            <div class="wrap-property clearfix">
                <label>Selected</label> <input property type="checkbox" checked="checked" data-property-set="checked" data-property-key="selected" />
            </div>
            {{/ifvalue}}
            {{#ifvalue widget.selected value=false}}
            <div class="wrap-property clearfix">
                <label>Selected</label> <input property type="checkbox" data-property-set="checked" data-property-key="selected" />
            </div>
            {{/ifvalue}}

            {{#if widget.attrs}}
            {{#each widget.attrs}}
            <div class="wrap-property clearfix">
                <label>{{@key}}: </label> <input property type="text" value="{{ this }}" data-property-set="attrs" data-property-key="{{ @key }}" />
            </div>

            {{/each}}
            {{/if}}

            {{#ifvalue widget.type value='video'}}
            {{#if widget.url}}
            <div class="wrap-property clearfix">
                <label style="width: 150px;">Video</label>
                <button id="upload-video" class="k-button">browse</button>
                <!--                <input property type="text" id="image-input" value="{{ widget.url }}" data-property-set="element-url" data-property-key="image" />-->
            </div>
            {{/if}}
            {{/ifvalue}}

            {{#if widget.styles.flexDirection}}
            <div class="wrap-property clearfix">
                <label>FlexDirection</label>
                <select data-property-set="styles" data-property-key="flexDirection" class="k-select">
                    {{#select widget.styles.flexDirection}}
                    <option value="row">row</option>
                    <option value="row-reverse">row-reverse</option>
                    <option value="column">column</option>
                    <option value="column-reverse">column-reverse</option>
                    {{/select}}
                </select>
            </div>
            {{/if}}
            {{#if widget.styles.flexWrap}}
            <div class="wrap-property clearfix">
                <label>FlexWrap</label>
                <select data-property-set="styles" data-property-key="flexWrap">
                    {{#select widget.styles.flexWrap}}
                    <option value="nowrap">nowrap</option>
                    <option value="wrap">wrap</option>
                    <option value="wrap-reverse">wrap-reverse</option>
                    {{/select}}
                </select>
            </div>
            {{/if}}
            {{#if widget.styles.justifyContent}}
            <div class="wrap-property clearfix">
                <label>JustifyContent</label>
                <select data-property-set="styles" data-property-key="justifyContent">
                    {{#select widget.styles.justifyContent}}
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="space-between">space-between</option>
                    <option value="space-around">space-around</option>
                    {{/select}}
                </select>
            </div>
            {{/if}}
            {{#if widget.styles.alignContent}}
            <div class="wrap-property clearfix">
                <label>AlignContent</label>
                <select data-property-set="styles" data-property-key="alignContent">
                    {{#select widget.styles.alignContent}}
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="space-between">space-between</option>
                    <option value="space-around">space-around</option>
                    <option value="stretch">stretch</option>
                    {{/select}}
                </select>
            </div>
            {{/if}}
            {{#if widget.styles.alignItems}}
            <div class="wrap-property clearfix">
                <label>AlignItems</label>
                <select data-property-set="styles" data-property-key="alignItems">
                    {{#select widget.styles.alignItems}}
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="baseline">baseline</option>
                    <option value="stretch">stretch</option>
                    {{/select}}
                </select>
            </div>
            {{/if}}
            {{#ifvalue widget.type value="flexboxChild"}}
            <div class="wrap-property clearfix">
                <label>Order</label> <input property type="text" value="{{ widget.styles.order }}" data-property-set="styles" data-property-key="order" />
            </div>

            <div class="wrap-property clearfix">
                <label>Flex</label> <input property type="text" value="{{ widget.styles.flex }}" data-property-set="styles" data-property-key="flex" />
            </div>

            <div class="wrap-property clearfix">
                <label>AlignSelf</label>
                <select data-property-set="styles" data-property-key="alignSelf">
                    {{#select widget.styles.alignSelf}}
                    <option value="auto">auto</option>
                    <option value="flex-start">flex-start</option>
                    <option value="flex-end">flex-end</option>
                    <option value="center">center</option>
                    <option value="baseline">baseline</option>
                    <option value="stretch">stretch</option>
                    {{/select}}
                </select>
            </div>
            {{/ifvalue}}
        </div>
    </li>

    {{#CompileBackground widget}}
    <li id="background-properties">
        <span class="k-link">
            Background
        </span>
        <div id="background-properties-content" class="background-panel">

        </div>
    </li>
    {{/CompileBackground}}

    {{#if widget.geometry}}
    <li id="geometry-properties">
        <span class="k-link">
            Geometry
        </span>
        <div id="geometry-properties-content" class="geometry-panel">


        </div>
    </li>
    {{/if}}

    <li id="text-properties">
        <span class="k-link">
            Text properties
        </span>
        <div id="text-properties-content">
        </div>
    </li>

    {{#if widget.styles.borderStyle}}
    <li id="border-style-properties">
        <span class="k-link">
            Border style
        </span>
        <div id="border-style-properties-content">
        </div>
    </li>
    {{/if}}

    {{#if widget.-webkit-filter}}
    <li id="filter-properties">
        <span class="k-link">
            Filters
        </span>

        <div id="filter-properties-content" class="transform-panel">
            <section class="wrap-property clearfix cols filters-pane">
                <div class="filter-blur wrap-property clearfix">
                    <label style="width: 106px;">
                        Blur
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="blur"></div>
                    </label>
                    <input property type="range" class="filters-range" value="{{#if widget.-webkit-filter.blur}}{{#number_only widget.-webkit-filter.blur}}{{/number_only}}{{else}}0{{/if}}" step="1" min="0" max="7" data-property-set="-webkit-filter" data-property-key="blur">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.blur}}{{#number_only widget.-webkit-filter.blur}}{{/number_only}}{{else}}0{{/if}}" step="1" min="0" max="7" data-property-set="-webkit-filter" data-property-key="blur">
                    <span class="fa fa-times-circle remove-filter-property" data-type="blur"> </span>
                </div>


                <div class="filter-gray-scale wrap-property clearfix">
                    <label style="width: 106px;">
                        Grayscale
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="grayscale"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="grayscale" value="{{#if widget.-webkit-filter.grayscale}}{{widget.-webkit-filter.grayscale}}{{else}}0{{/if}}" step="0.1" min="0" max="1">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.grayscale}}{{#number_only widget.-webkit-filter.grayscale}}{{/number_only}}{{else}}0{{/if}}" step="0.1" min="0" max="1" data-property-set="-webkit-filter" data-property-key="grayscale">
                    <span class="fa fa-times-circle remove-filter-property" data-type="grayscale"> </span>
                </div>

                <div class="filter-sepia wrap-property clearfix">
                    <label style="width: 106px;">
                        Sepia
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="sepia"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="sepia" value="{{#if widget.-webkit-filter.sepia}}{{widget.-webkit-filter.sepia}}{{else}}0{{/if}}" step="0.1" min="0" max="1">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.sepia}}{{#number_only widget.-webkit-filter.sepia}}{{/number_only}}{{else}}0{{/if}}" step="0.1" min="0" max="1" data-property-set="-webkit-filter" data-property-key="sepia">
                    <span class="fa fa-times-circle remove-filter-property" data-type="sepia"> </span>
                </div>

                <div class="filter-brightness wrap-property clearfix">
                    <label style="width: 106px;">
                        Brightness
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="brightness"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="brightness" value="{{#if widget.-webkit-filter.brightness}}{{widget.-webkit-filter.brightness}}{{else}}1{{/if}}" step="0.1" min="0" max="10">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.brightness}}{{#number_only widget.-webkit-filter.brightness}}{{/number_only}}{{else}}1{{/if}}" step="0.1" min="0" max="10" data-property-set="-webkit-filter" data-property-key="brightness">
                    <span class="fa fa-times-circle remove-filter-property" data-type="brightness"> </span>
                </div>


                <div class="filter-contrast wrap-property clearfix">
                    <label style="width: 106px;">
                        Contrast
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="contrast"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="contrast" value="{{#if widget.-webkit-filter.contrast}}{{widget.-webkit-filter.contrast}}{{else}}1{{/if}}" step="0.1" min="0" max="10">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.contrast}}{{#number_only widget.-webkit-filter.contrast}}{{/number_only}}{{else}}1{{/if}}" step="0.1" min="0" max="10" data-property-set="-webkit-filter" data-property-key="contrast">
                    <span class="fa fa-times-circle remove-filter-property" data-type="contrast"> </span>
                </div>


                <div class="filter-hue wrap-property clearfix">
                    <label style="width: 106px;">
                        Hue-rotate
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="hue-rotate"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="hue-rotate" value="{{#if widget.-webkit-filter.hue-rotate}}{{#number_only widget.-webkit-filter.hue-rotate}}{{/number_only}}{{else}}0{{/if}}" step="30" min="0" max="360">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.hue-rotate}}{{#number_only widget.-webkit-filter.hue-rotate}}{{/number_only}}{{else}}0{{/if}}" step="30" min="0" max="360" data-property-set="-webkit-filter" data-property-key="hue-rotate">
                    <span class="fa fa-times-circle remove-filter-property" data-type="hue-rotate"> </span>
                </div>


                <div class="filter-invert wrap-property clearfix">
                    <label style="width: 106px;">
                        Invert
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="invert"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="invert" value="{{#if widget.-webkit-filter.invert}}{{widget.-webkit-filter.invert}}{{else}}0{{/if}}" step="0.1" min="0" max="1">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.invert}}{{#number_only widget.-webkit-filter.invert}}{{/number_only}}{{else}}0{{/if}}" step="0.1" min="0" max="1" data-property-set="-webkit-filter" data-property-key="invert">
                    <span class="fa fa-times-circle remove-filter-property" data-type="invert"> </span>
                </div>

                <div class="filter-saturate wrap-property clearfix">
                    <label style="width: 106px;">
                        Saturate
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="saturate"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="saturate" value="{{#if widget.-webkit-filter.saturate}}{{widget.-webkit-filter.saturate}}{{else}}1{{/if}}" step="0.1" min="0" max="10">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.saturate}}{{#number_only widget.-webkit-filter.saturate}}{{/number_only}}{{else}}1{{/if}}" step="0.1" min="0" max="10" data-property-set="-webkit-filter" data-property-key="saturate">
                    <span class="fa fa-times-circle remove-filter-property" data-type="saturate"> </span>
                </div>


                <div class="filter-opacity wrap-property clearfix">
                    <label style="width: 106px;">
                        Opacity
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="opacity"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="opacity" value="{{#if widget.-webkit-filter.opacity}}{{widget.-webkit-filter.opacity}}{{else}}1{{/if}}" step="0.1" min="0" max="1">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.opacity}}{{#number_only widget.-webkit-filter.opacity}}{{/number_only}}{{else}}1{{/if}}" step="0.1" min="0" max="1" data-property-set="-webkit-filter" data-property-key="opacity">
                    <span class="fa fa-times-circle remove-filter-property" data-type="opacity"> </span>
                </div>
                <span data-type="all" class="dismiss-filters">reset all</span>
                <div class="clear"></div>
                <!------------------------------------filter-drop-shadow--------------------------------------->

                <span class="transform-label">Drop shadow</span>
                <div class="text-line"></div>
                <div class="filter-shadow-blur wrap-property clearfix">
                    <label>
                        Blur
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="dropShadowBlur"></div>
                    </label>
                    <input property type="range" class="filters-range" data-property-set="-webkit-filter" data-property-key="dropShadowBlur" value="{{#if widget.-webkit-filter.dropShadowBlur}}{{#number_only widget.-webkit-filter.dropShadowBlur}}{{/number_only}}{{else}}0{{/if}}" step="1" min="0" max="7">
                    <input property type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.dropShadowBlur}}{{#number_only widget.-webkit-filter.dropShadowBlur}}{{/number_only}}{{else}}0{{/if}}" step="1" min="0" max="7" data-property-set="-webkit-filter" data-property-key="dropShadowBlur">
                    <span class="fa fa-times-circle remove-filter-property" data-type="dropShadowBlur"> </span>
                </div>


                <div class="filter-shadow-blur wrap-property clearfix">
                    <label>
                        x
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="dropShadowX"></div>
                    </label>
                    <input property style="margin-left: 4px;width: 44px;" type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.dropShadowX}}{{#number_only widget.-webkit-filter.dropShadowX}}{{/number_only}}{{else}}0{{/if}}" step="1" data-property-set="-webkit-filter" data-property-key="dropShadowX">
                    <span style="margin-top: 7px;left: 59px;" class="fa fa-times-circle remove-filter-property" data-type="dropShadowX"> </span>
                </div>

                <div class="filter-shadow-blur wrap-property clearfix">
                    <label>
                        y
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="dropShadowY"></div>
                    </label>
                    <input property style="margin-left: 4px;width: 44px;" type="number" class="filter-number-input" value="{{#if widget.-webkit-filter.dropShadowY}}{{#number_only widget.-webkit-filter.dropShadowY}}{{/number_only}}{{else}}0{{/if}}" step="1" data-property-set="-webkit-filter" data-property-key="dropShadowY">
                    <span style="margin-top: 7px;left: 59px;" class="fa fa-times-circle remove-filter-property" data-type="dropShadowY"> </span>
                </div>

                <div class="drop-shadow-color-wrap wrap-property clearfix">
                    <label>
                        Color
                        <div type="button" class="add-keyframe" data-property-set="-webkit-filter" data-property-key="dropShadowColor"></div>
                    </label>
                    <input property class="color-picker drop-shadow-colorpicker" data-property-set="-webkit-filter" id="dropShadow-picker" data-property-key="dropShadowColor" style="margin-left: -21px;"/>
                    <span style="margin-top: 7px;left: 3px;" class="fa fa-times-circle remove-filter-property" data-type="dropShadowColor"> </span>
                    <span class="btn-dissmis dismiss-filter-drop-shadow">reset</span>
                </div>
            </section>
        </div>
    </li>
    {{/if}}

    {{#if widget.boxShadow}}
    <li id="boxshadow-properties">
        <span class="k-link">
            Box shadow
        </span>
        <div class="boxshadow-panel">
            <span type="button" class="add-keyframe" data-property-set="boxShadow" data-property-key="boxShadowProperties"></span>
            <section class="wrap-property clearfix cols boxshadow-pane">
                <div class="wrap-property clearfix"><label class="text-center">H. Length</label><input property type="range" class="filters-range" value="{{#if widget.boxShadow.horizontalLength}}{{#number_only widget.boxShadow.horizontalLength}}{{/number_only}}{{else}}0{{/if}}" step="1" min="-300" max="300" data-property-set="boxShadow" data-property-key="horizontalLength"></div>
                <div class="wrap-property clearfix"><label class="text-center">V. Length</label><input property type="range" class="filters-range" data-property-set="boxShadow" data-property-key="verticalLength" value="{{#if widget.boxShadow.verticalLength}}{{#number_only widget.boxShadow.verticalLength}}{{/number_only}}{{else}}0{{/if}}" step="1" min="-300" max="300"></div>
                <div class="wrap-property clearfix"><label class="text-center">Blur Radius</label><input property type="range" class="filters-range"data-property-set="boxShadow" data-property-key="blurRadius" value="{{#if widget.boxShadow.blurRadius}}{{#number_only widget.boxShadow.blurRadius}}{{/number_only}}{{else}}0{{/if}}" step="1" min="0" max="24"></div>
                <div class="wrap-property clearfix"><label class="text-center">Spread Radius</label><input property type="range" class="filters-range"data-property-set="boxShadow" data-property-key="spreadRadius" value="{{#if widget.boxShadow.spreadRadius}}{{#number_only widget.boxShadow.spreadRadius}}{{/number_only}}{{else}}0{{/if}}" step="1" min="-100" max="100"></div>

            </section>
            <div class="text-line"></div>
            <div class="wrap-property clearfix">
                <radioOption class="clearfix radio-options">
                    <div style="margin-left: 73px;  margin-right: 5px;">Mode: </div>
                    {{#radioOption widget.boxShadow.insetOutset 'boxShadow'}}
                    <div class="clearfix">
                        <input property type="radio" value="remove" id="box-shadow-remove" name="insetOutset" data-property-set="boxShadow" data-property-key="insetOutset"/><label for="box-shadow-remove" title="none"></label>
                    </div>
                    <div class="clearfix">
                        <input property type="radio" value="none" id="box-shadow-outset" name="insetOutset" data-property-set="boxShadow" data-property-key="insetOutset" checked="checked" /><label for="box-shadow-outset" title="outset"></label>
                    </div>
                    <div class="clearfix">
                        <input property type="radio" value="inset" id="box-shadow-inset" name="insetOutset" data-property-set="boxShadow" data-property-key="insetOutset" /><label for="box-shadow-inset" title="inset"></label>
                    </div>
                    {{/radioOption}}
                </radioOption>
            </div>
            <div class="wrap-property clearfix">
                <label>Color:</label>
                <input property class="color-picker" id="boxShadow-picker"  style="margin-left: -21px;"/>
            </div>
        </div>
    </li>
    {{/if}}

     {{#if widget.styles.mixBlendMode}}
    <li id="blend-modes-properties">
        <span class="k-link">
            Blend modes
        </span>
        <div id="blend-modes-content" class="blend-modes-panel">

        </div>
    </li>
    {{/if}}

    {{#if widget.transform}}
        <li id="transform-properties">
        <span class="k-link">
            Transforms (BETA)
        </span>
        <div id="transform-properties-content" class="transform-panel">
        </div>
        </li>
    {{/if}}

    <li id="data-binding-properties">
        <span class="k-link">
            Data Binding
        </span>
        <div id="data-binding-properties-content" class="data-binding-panel">

        </div>
    </li>


    <li id="events-properties">
        <span class="k-link">
            Events
        </span>
        <div id="events-properties-content" class="events-panel">

        </div>
    </li>

    <li>
        <span class="k-link disabled">
            <div class="wrap-property clearfix">
                <button id="remove-widget" class="k-button">Delete</button>
            </div>
        </span>
    </li>
</ul>
</li>
</ul>
