<li class="k-state-active">
   <span class="k-link k-state-selected k-header-wrap">
      <span class="ic-create"></span>
      <span>Create elements</span>
    </span>

    <div class="widget-list-tabs basic-panel" id="create-element-tabs">
    <ul>
       {{#if CommonElements}}
       <li class="common k-state-active" title="Common elements">Common elements</li>
       {{/if}}
       {{#if FormElements}}
       <li class="forms" title="Form elements">Form elements</li>
       {{/if}}
       {{#if Lists}}
       <li class="lists" title="Lists">Lists</li>
       {{/if}}
       {{#if AdvancedWidgets}}
       <li class="advace-widgets" title="Advanced widgets">Advanced widgets</li>
       {{/if}}
    </ul>
    {{#if CommonElements}}
    <div>
        {{#each CommonElements}}
        <div class="widget-name clearfix" data-type="{{@key}}"><span class="w-img ic-{{@key}}"></span><span class="w-name">{{this}}</span></div>
        {{/each}}
    </div>
     {{/if}}
    {{#if FormElements}}
    <div>
         {{#each FormElements}}
         <div class="widget-name clearfix" data-type="{{@key}}"><span class="w-img ic-{{@key}}"></span><span class="w-name">{{this}}</span></div>
         {{/each}}
    </div>
    {{/if}}
     {{#if Lists}}
    <div>
         {{#each Lists}}
         <div class="widget-name clearfix" data-type="{{@key}}"><span class="w-img ic-{{@key}}"></span><span class="w-name">{{this}}</span></div>
         {{/each}}
    </div>
     {{/if}}
      {{#if AdvancedWidgets}}
    <div>
         {{#each AdvancedWidgets}}
         <div class="widget-name clearfix" data-type="{{@key}}"><span class="w-img ic-{{@key}}"></span><span class="w-name">{{this}}</span></div>
         {{/each}}
    </div>
    {{/if}}
</div>
</li>

